<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MD5 암호화 도구</title>
    <link rel="stylesheet" href="../../static/css/public/header.css" th:href="@{/css/public/header.css}">
    <link rel="stylesheet" href="../../static/css/public/encoder.css" th:href="@{/css/public/encoder.css}">
    <script src="../../static/js/encode/md5.js" th:src="@{/js/encode/md5.js}" defer></script>

</head>
<body>
<th:block th:replace="~{public/header :: header}"></th:block>

<h1 class="title">MD5 암호화</h1>

<th:block th:replace="~{public/encoder :: encoder}"></th:block>
</body>
</html>

<style>
    .title {
        text-align: center;
        margin: 20px;
    }
</style>