<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/53e865f4e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/public/header.css" th:href="@{/css/public/header.css}">
</head>
<body th:fragment="header">
    <header id="header">
        <div id="logo-container">
            <a href="#" id="img-tag"><img id="header-img" src="https://blog.kakaocdn.net/dn/tDGUE/btqCOy0qApR/hgBXXnCyitQnkbyYUzF1Bk/img.jpg" alt=""></a>
        </div>
        <div id="user-container">
            <a href="#" id="login-tag">로그인</a>
            <a href="#" id="user-join-tag">회원가입</a>
        </div>
    </header>
    <hr>
    <section>
        <div id="category-container">
            <ul>
                <li>
                    <span>이미지</span>
                    <ul>
                        <li><a href="/image-compression">이미지 압축</a></li>
                        <li><a href="/image-resize">이미지 크기 조절</a></li>
                        <li><a href="/image-cut">이미지 자르기</a></li>
                        <li><a href="/image-rotation">이미지 회전</a></li>
                    </ul>
                </li>
                <li>
                    <span>문서</span>
                    <ul>
                        <li><a href="#">문서 압축</a></li>
                        <li><a href="#">문서 형식변경</a></li>
                        <li><a href="#">문서 어쩌구...</a></li>
                    </ul>
                </li>
                <li>
                    <span>인코더</span>
                    <ul>
                        <li><a href="/url-encoder">URL ENCODER</a></li>
                        <li><a href="/url-decoder">URL DECODER</a></li>
                        <li><a href="/md5">MD5 암호화</a></li>
                        <li><a href="/sha256">SHA-256 암호화</a></li>
                        <li><a href="/sha512">SHA-512 암호화</a></li>
                    </ul>
                </li>
                <li>
                    <span>항목4</span>
                    <ul>
                        <li><a href="#">서브항목1</a></li>
                        <li><a href="#">서브항목2</a></li>
                        <li><a href="#">서브항목3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr>
    </section>
</body>
</html>