<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>imagePublic</title>
    <link rel="stylesheet" href="../../static/css/public/image.css" th:href="@{/css/image.css}">
    <script src="../../static/js/public/image.js" th:src="@{/js/public/image.js}" defer></script>
</head>
<body>
    <section id="image-section">
        <label id="img-label">
            <span id="img-span">드래그 or 파일 추가</span>
            <input id="file-input" type="file" multiple accept=".jpg, .jpeg, .png, .gif, .bmp">
        </label>
        <div id="img-view-container">

        </div>
    </section>
</body>
</html>