* {
    margin: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    width: 100%;
    height: 100px;
    background-color: white;
}

#header-img {
    margin: 10px 5px;
    /*border: 1px solid black;*/
    width: 200px;
    height: 80px;
}

#user-container {
    display: flex;
    margin: 10px 10px;
    /*align-content: center;*/
    align-items: center;
}

#login-tag {
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color: #0855fd;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#login-tag:hover {
    background-color: #3b73ff;
}

#user-join-tag {
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color: #0855fd;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#user-join-tag:hover {
    background-color: #3b73ff;
}



/************************************************************/

#category-container {
    font-weight: bold;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
}

#category-container > ul > li {
    /*float: left;*/
    width: 20%;
    /*position: relative;*/
}



#category-container ul li {
    list-style: none;
    padding-left: 0;
}

li a {
    text-decoration: none;
    color: black;
}

#category-container > ul {
    display: flex;
    justify-content: space-evenly;
}

#category-container > ul > li > ul {
    padding-inline-start: 0;
    display: none;
    position: relative;
    z-index: 0;
}

#category-container > ul > li > ul > li {
    background-color: #ccc;
}

#category-container > ul > li > ul > li:hover {
    background-color: darkgray;
    transition: ease 0.5s;
}

#category-container > ul > li:hover > ul{
    display: block;
}

